@import url("https://fonts.googleapis.com/css?family=Anton|Noto+Sans:400,700|Noto+Serif:400,700");

* {
  margin: 0;
  padding: 0;
}

.header {
  @media screen and (max-width: 480px) {
    margin: 0;
    transform: translate3d(0, 0, 0);
  }
  
  z-index: 10;
  position: fixed;
  height: 60px;
  margin: 0px 18%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;

  h2 {
    margin: 0 15px;
    line-height: 60px;
    font-family: "impact", "Anton";

    small {
      color: #666;
    }
  }

  ul {
    li {
      list-style-type: none;
      float: left;
      margin: 0 5px;
    }
    a {
      line-height: 60px;
      text-decoration: none;
      color: #000;
      font-family: "Noto Sans";
    }
  }
}

.container {
  margin: 0 18%;
  @media screen and (max-width: 480px) {
    margin: 0;
  }
  padding-top: 60px;
  overflow: hidden;
  font-family: "Noto Sans";

  .top-image img {
    width: 100%;
  }

  .about {
    text-align: center;
    padding-top: 50px;

    h1 {
      font-family: "impact", "Anton";
    }

    img {
      width: 150px;
      border-radius: 75px;
      border: 1px #ccc solid;
    }

    .contact {
      margin-top: 20px;
      a {
        text-decoration: none;
        color: #94b4b0;

        &:hover {
          color: #b9e1dc;
        }
      }
    }
  }

  .works {
    padding-top: 100px;
    text-align: center;
    font-size: 35px;

    h2 {
      font-family: "impact", "Anton";
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    li {
      width: 200px;
      list-style-type: none;
      margin: 10px;
      position: relative;
      overflow: hidden;

      figure {
        
        width: 200px;
        height: 200px;

        img {
          width: 200px;
          // border: 1px #ccc solid;
        }

        figcaption {
          font-size: 18px;
          position: absolute;
          top: -100%;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity: 1;
        }

        &:hover {
          figcaption {
            color: #fff1ff;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.footer {
  font-family: "Noto Sans";
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  text-align: center;
  a {
    text-decoration: none;
    color: #ffb86c;
  }
}
