* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  height: 60px;
  margin: -35px 18% 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.header h2 {
  margin: 0 15px;
  float: left;
  line-height: 60px;
  font-family: "impact";
}

.header ul li {
  list-style-type: none;
  float: left;
  margin: 0 5px;
}

.header ul a {
  line-height: 60px;
  text-decoration: none;
  color: #000;
}

.container {
  margin: 2% 18%;
  padding-top: 30px;
  overflow: hidden;
}

.container .top-image img {
  width: 100%;
}

.container .about {
  text-align: center;
  padding-top: 50px;
}

.container .about h1 {
  font-family: "impact";
}

.container .about img {
  width: 150px;
  border-radius: 75px;
  border: 1px #ccc solid;
}

.container .about .contact {
  margin-top: 20px;
}

.container .about .contact a {
  text-decoration: none;
  color: #94b4b0;
}

.container .about .contact a:hover {
  color: #b9e1dc;
}

.container .works {
  padding-top: 100px;
  text-align: center;
  font-size: 35px;
}

.container .works h2 {
  font-family: "impact";
}

.container .works ul {
  margin: 0 auto;
  width: 660px;
}

.container .works li {
  list-style-type: none;
  float: left;
  margin: 10px;
  text-align-last: left;
  position: relative;
  overflow: hidden;
}

.container .works li figure img {
  width: 200px;
}

.container .works li figure figcaption {
  font-size: 18px;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 94.5%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.container .works li figure:hover figcaption {
  color: #fff1ff;
  top: 0;
  left: 0;
}

.footer {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #ffb86c;
}
